body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.main {
    width: 100%;
}
h1 {
    text-align: center;
    color: grey;
}
.button1 {
    height: 70px;
    width: 70px;
    background-color: white;
    box-shadow: 1px 1px 1px 0px grey;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 50%;
}
button:hover {
    cursor: pointer;
    box-shadow: 1px 1px .4px .4px grey;
    transition: 0.2s;
}
.button2 {
    height: 70px;
    width: 70px;
    background-color: white;
    box-shadow: 1px 1px 1px 0px grey;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20%;
    margin-bottom: 30px;
}
.red {
    color: rgb(235, 110, 110);
}
.green {
    color: #42f4dc;
}
.buttons {
    display: flex;
    justify-self: auto;
    display: flex;
    justify-content: space-evenly;
}
 
 li {
     position: relative;
     color: #a8a2a2;
     width: 500px;
     list-style-type: none;
     border-bottom: 1.5px solid #cec8c8;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 strong {
     padding-right: 80%;
     padding-left: 2%;
 }